html {
      font-family: sans-serif;
      background: hsla(223 50% 25% / 0.6);
    }

.inbox {
      max-width: 400px;
      margin: 50px auto;
      background: white;
      border-radius: 5px;
      box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    }

.item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #F1F1F1;
    }

.item:last-child {
      border-bottom: 0;
    }

input:checked + p {
      background: #F9F9F9;
      text-decoration: line-through;
    }

    

input[type="checkbox"] {
    appearance: none;
    position: relative;
      margin: 20px;
      background: white;
      border: black 2px solid;
      width: 20px;
      height: 20px;
      border-radius: 10px;  
      
    }

    input[type="checkbox"]::before {
        content: " ";
        background: red;
        width: 10px;
        border-radius: 5px;
        height: 10px;
        font-size: 1.6em;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(3px, 3px) scale(0);
        transform-origin: center;
        visibility: hidden;
        transition: all .2s ease-in;
    }

    input[type="checkbox"]:checked::before {
        visibility: visible;
        transform: translate(3px, 3px) scale(1);
        transition: all 0.2s cubic-bezier(0.25, 0.25, 0.56, 2);
    }



p {
      margin: 0;
      user-select: none;
      padding: 20px;
      transition: background 0.2s;
      flex: 1;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
      border-left: 1px solid #D1E2FF;
    }